window {
    background: #181825;
    border-radius: 10px;
}

#box {
    /* Define attributes of the box surrounding icons here */
    padding: 10px;
}

#active {
    border-bottom: solid 0px;
    border-color: #ffffff;
}

button,
image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: #999;
}

button {
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
    color: #eee;
    font-size: 12px;
}

button:hover {
    background-color: rgb(30, 30, 46);
    border-radius: 10px;
}

button:focus {
    box-shadow: none;
}
