//This file is for colors, font, font-sizes and screen border

//Screen Width
$display-width: 1920px;
$display-height: 1080px;

//Colors
$foreground-color: #{"@theme_fg_color"};
$background-color: #{"@theme_bg_color"};

//Sizes - Paddings - Margins

$bar-height: $display-height * 0.035; //The height I'm aiming for is 0.04 display height. The padding serves the purpose of me not having to use padding inside the bar elements
$bar-vertical-padding: $display-height * 0.0025;
$bar-horizontal-padding: $display-width * 0.01;

//SCREEN BORDER
$screen-border-radius: 20;
$screen-border-width: 2;

.Corners {
    border-radius: #{$screen-border-radius}px;
    border: #{$screen-border-width}px solid $background-color;
}

.Corner_Fill {
    border-radius: #{$screen-border-radius * 2}px;
    border: #{$screen-border-width * 11}px solid $background-color;
}
